// MAIN STYLE COLORS //
$red: #C63D0F;
$black: #3B3738;
$white: #FDF3E7;
$olive: #7E8F7C;
$orange: #EB7118;
$grey: #DDCEC4;
$green: #7EAB93;

// CARD COLORS (TRANSPARENCY)
$red-t: rgba(198, 61, 15, .7);
$black-t: rgba(59, 55, 56, .7);
$white-t: rgba(253, 243, 231, .7);
$olive-t: rgba(126, 143, 124, .7);
$orange-t: rgba(235, 113, 24, .7);
$grey-t: rgba(221, 206, 196, .7);
$green-t: rgba(126, 171, 147, .7);

html, body {
height: 100%;
width: 100%;
margin:0px;
padding:0px;
color: black;
}

#displayMeetups, ul{
    text-align: center;
    padding: 1em;
    color: white;
}

ul li {
    list-style: none;
}

.card-title1 {
    text-align: center;
    width: 25%;
    height: 480px;
    background-color: red;
    opacity: 0.7;
    border: 3px solid black;
}

.card-title2 {
    text-align: center;
    width: 25%;
    height: 480px;
    background-color: grey;
    opacity: 0.7;
    border: 3px solid black;
}

.card-title3 {
    text-align: center;
    width: 25%;
    height: 480px;
    background-color: blue;
    opacity: 0.7;
    border: 3px solid black;
}

.card-title4 {
    text-align: center;
    width: 25%;
    height: 480px;
    background-color: rgba(50, 90, 54, 0.7);
    border: 3px solid black;
}

.container {
    width: 100%;
}

.big-container {
    width:100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.8;
    filter:alpha(opacity=80);
    z-index: -1;
}

.jumbotron {
    background-color: transparent;
    margin: 0;
    bottom: 0em;
    margin-top: 0px;
    padding: 2%;;
}

.display-3 {
    font-size: 100px;
    font-weight: 400;
}

.shadow {
     background-color: #d3d3d3;
     width: 100%;
}

.container-fluid {
    color: black;
}