// MAIN STYLE COLORS //
$red: #C63D0F;
$black: #3B3738;
$white: #FDF3E7;
$olive: #7E8F7C;
$orange: #EB7118;
$grey: #DDCEC4;
$green: #7EAB93;

// CARD COLORS (TRANSPARENCY)
$red-t: rgba(198, 61, 15, .9);
$black-t: rgba(59, 55, 56, .9);
$white-t: rgba(253, 243, 231, .9);
$olive-t: rgba(126, 143, 124, .9);
$orange-t: rgba(235, 113, 24, .9);
$grey-t: rgba(221, 206, 196, .9);
$green-t: rgba(126, 171, 147, .9);

html, body {
height: 100%;
width: 100%;
margin:0px;
padding:0px;
color: black;
}
.row {
    margin: 0 1em;
}

#displayMeetups, ul{
    text-align: left;
    padding: 1em;
    color: $white;
}

ul li {
    list-style: none;
}

a {
    color: $white;
}

a:hover {
    color: $grey;
    text-decoration: none;
}

.card-title1 {
    text-align: center;
    width: 25%;
    height: 480px;
    background-color: $red-t;
    border-radius: 11px;
}

.card-title2 {
    text-align: center;
    width: 25%;
    height: 480px;
    background-color: $black-t;
    border-radius: 11px;
}

.card-title3 {
    text-align: center;
    width: 25%;
    height: 480px;
    background-color: $green-t;
    border-radius: 11px;
}

.card-title4 {
    text-align: center;
    width: 25%;
    height: 480px;
    background-color: $orange-t;
    border-radius: 11px;
}

.container {
    width: 100%;
}

.big-container {
    width:100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.8;
    filter:alpha(opacity=80);
    z-index: -1;
}

.jumbotron {
    background-color: transparent;
    margin: 0;
    bottom: 0em;
    margin-top: 0px;
    padding: 1em 2em;
}

.display-3 {
    font-weight: 400;
}

.shadow {
     background-color: rgba(0, 0, 0, .7);
     width: 100%;
     margin-top: 3.5em;
}

.container-fluid {
    color: black;
}

section{
    text-align: center;
}

/////// 4 MAIN SECTIONS /////////////////////////// 
#newsSection {
    background-color: $black-t;
    color: $white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#weatherSection{
    background-color: $red-t;
    height: 100vh;
    width: 100%;
}
#booksSection {
    background-color: $green-t;
    height: 100vh;
    width: 100%;
}
#meetUpSection {
    background-color: $orange-t;
    height: 100vh;
    width: 100%;
}



///////// 4 NAV BARS ///////////////////
#newsNav {
    background: $white;
    color: $black;
    text-align: center;
}
#weatherNav {
    background: $red;
    color: $black;
}
#booksNav {
    background: $green;
    color: $black;
}
#meetUpNav {
    background: $orange;
    color: $black;
}